@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/* NAVBAR */
.navbar{
    position: fixed;
    width: 100%;
    background: rgb(255, 255, 255, 0.5);
    font-family: "Raleway";
    padding: 15px 0;
    z-index: 999;
}

.logo_perusahaan{
    width: 100px;
    float: left;
}

.menu li a{
    font-size: 20px;
    font-weight: 600px;
    margin-left: 25px;
    color:black;
}

.nama_perusahaan{
    font-size: 35px;
    font-weight: 600;
    color:black;
}

.slogan_perusahaan{
    font-size: 15px;
    color: black;
}

.menu li{
    display: inline-block;
}

.menu li a:hover, .menu li a.active{
    font-size: x-large;
    color: tomato;;
    transition: .5s;
}

.max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}

.toggle-btn{
    width: 30px;
    position: fixed;
    right: 80px;
    left: 30px;
    top: 40px;
    display: none;
}

.toggle-btn span{
    display: block;
    width: 110%;
    height: 4px;
    background-color: black;
    margin: 8px;
}

section{
    padding: 80px 0;
}

.head{
    height: 15vh;
}

/* CONTACT */
.contact{
    background-image: url("./Aset/bglocation.jpg");
}

.title{
    font-family: "Raleway";
    text-align: center;
    font: 40px;
    font-weight: 500;
    position: relative;
    margin-bottom: 60px;
    padding-bottom: 20px;
    color: white;
    text-shadow: black 3px 3px 3px
}

.title::before{
    content: "";
    position: absolute;
    width: 200px;
    height: 3px;
    background: rgb(173, 17, 17);
    bottom: 0; left: 43%;
    transform: translateX(-50);
}

iframe{
    border-radius: 40px;
}

iframe:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px rgb(64, 224, 208, 0.7);
}

.address{
    background: rgb(0, 0, 0, 0.8);
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    width: 30rem;
}

.address h3{
    color: white;
    font-size: 30px;
    font-weight: 600;
}

.address p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    font-weight: 600;
    color:gainsboro;
}

/* FORM */
.form{
    background-image: url(./Aset/bglocation2.jpg);
}

.ctcform{
    width: 40%;
    padding: 40px;
    background: white;
    margin-left: 22rem;
}

.ctcform h2{
    text-align: center;
    text-decoration: underline;
    font-size: 35px;
    margin-bottom: 50px;
    color: #333;
    font-weight: 500;
}

.inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}

input, textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
}

.ctcspan{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

input:focus ~ span, input:valid ~ span, textarea:focus ~ span, textarea:valid ~ span{
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}

input[type="submit"]{
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

/* FOOTER */
.footer{
    font-family: "Raleway";
    font-weight: 400;
    background-color: rgb(20, 20, 20);
    color: white;
    padding: 40px 0;
    box-sizing: border-box;
}

.social{
    text-align: center;
    padding-bottom: 25px;
}

.social a{
    color: inherit;
    width: 40px; height: 40px;
    display: inline-block;
    text-align: center;
    margin: 0 8px;
    opacity: 0.75;
}

.logoWA{
    margin: 10px 19px;
}

.social a:hover{
    opacity: 0.9;
}

.footer ul{
    margin-top: 0; padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}

.footer ul li a{
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer ul li a:hover{
    opacity: 1;
    margin: 10px;
    transition: .5s;
}

.footer ul li{
    display: inline-block;
    padding: 0 15px;
}

.copyright{
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
}

/* RESPONSIVE MEDIA */
@media only screen and (max-width: 800px){
    .toggle-btn{
        display: block;
    }

    .max-width{
        display: block;
        align-items: center;
        justify-content: space-between;
        padding: 0 100px;
    }
    
    nav{
        display: none;
        width: 100%;
        border-top: 1px solid black;
        padding-top: 10px;
        margin-top: 40px;
    }

    nav ul li{
        padding-top: 15px 0px;
        width: 100%;
    }

    .menu li{
        padding: 5px;
    }

    nav.show{
        display: block;
    }

    .title::before{
        content: "";
        position: absolute;
        width: 200px;
        height: 3px;
        background: rgb(173, 17, 17);
        bottom: 0; left: 38%;
        transform: translateX(-50);
    }

    .ctcform{
        width: 100%;
        padding: 40px;
        background: white;
        margin-left: 0;
    }
}