@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/* NAVBAR */
.navbar{
    position: fixed;
    width: 100%;
    background: rgb(255, 255, 255, 0.5);
    font-family: "Raleway";
    padding: 15px 0;
    z-index: 999;
}

.logo_perusahaan{
    width: 100px;
    float: left;
}

.menu li a{
    font-size: 20px;
    font-weight: 600px;
    margin-left: 25px;
    color:black;
}

.nama_perusahaan{
    font-size: 35px;
    font-weight: 600;
    color:black;
}

.slogan_perusahaan{
    font-size: 15px;
    color: black;
}

.menu li{
    display: inline-block;
}

.menu li a:hover, .menu li a.active{
    font-size: x-large;
    color: tomato;;
    transition: .5s;
}

.max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}

.toggle-btn{
    width: 30px;
    position: fixed;
    right: 80px;
    left: 30px;
    top: 40px;
    display: none;
}

.toggle-btn span{
    display: block;
    width: 110%;
    height: 4px;
    background-color: black;
    margin: 8px;
}

.head{
    height: 19vh;
}

/* SUBS FORM */
.subform{
    display: flex;
    background-image: url(./Aset/bgsub2.jpg);
    height: 100vh;
    min-height: 800px;
    font-family: "Raleway";
    align-items: center;
    justify-content: center;
    margin: 0;
}

.container{
    background-color: white;
    border: 5px;
    box-shadow: 0 2px 5px rgb(0, 0, 0, 0.3);
    width: 400px;
    max-width: 100%;
}

.header{
    background-color: springgreen;
    border-bottom: 1px solid #f0f0f0;
    padding: 20px 40px;
    margin: 0;
}

.form{
    padding: 30px 40px;
}

.form-control{
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

label{
    display: inline-block;
    margin-bottom: 5px;
}

.form-control.success input{
    border-color: aqua;
}

.form-control.success small{
    visibility: visible;
    color: rgb(8, 231, 157);;
}

.form-control.error input{
    border-color: red;
}

.form-control.error small{
    visibility: visible;
    color: red;;
}

input{
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-size: 14px;
    padding: 10px;
    width: 100%;
}

small{
    visibility: hidden;
    position: absolute;
    bottom: 0; left: 0;
}

button{
    background-color: springgreen;
    border: 2px solid springgreen;
    border: 4px;
    color: white;
    display: block;
    font-size: 16px;
    font-weight: bolder;
    padding: 10px;
    width: 100%;
}

button:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.checkbox{
    display: inline-block;
    align-items: flex-start;
    justify-items: end;
    cursor: pointer;
}

/* FOOTER */
.footer{
    font-family: "Raleway";
    font-weight: 400;
    background-color: rgb(20, 20, 20);
    color: white;
    padding: 40px 0;
    box-sizing: border-box;
}

.social{
    text-align: center;
    padding-bottom: 25px;
}

.social a{
    color: inherit;
    width: 40px; height: 40px;
    display: inline-block;
    text-align: center;
    margin: 0 8px;
    opacity: 0.75;
}

.logoWA{
    margin: 10px 19px;
}

.social a:hover{
    opacity: 0.9;
}

.footer ul{
    margin-top: 0; padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}

.footer ul li a{
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer ul li a:hover{
    opacity: 1;
    margin: 10px;
    transition: .5s;
}

.footer ul li{
    display: inline-block;
    padding: 0 15px;
}

.copyright{
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
}